<%- include('./base/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#" style="color: white">RDEC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/student/add/page" style="color: white">Add Student</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white">List Student</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>
  <div class="container">
            <div class="alert text-center bg-primary my-3" style="color: white">
                <h5>Student List</h5>
            </div>
        </div>
        <div class="container">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Student photo</th>
                        <th>Roll no</th>
                        <th>name</th>
                        <th>Father Name</th>
                        <th>Mother Name</th>
                        <th>Course</th>
                        <th>Branch</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        <% students.forEach((student)=>{  %>
                            <tr>
                                <td><img src="<%= student.studentImage%>" width="50px" height="50px"></img></td>
                                <td><%=student.RollNo %></td>
                                <td><%=student.StudentName %></td>
                                <td><%=student.FatherName %></td>
                                <td><%=student.MotherName %></td>
                                <td><%=student.Course %></td>
                                <td><%=student.Branch %></td>
                                  <td> 
                                    <a href="/edit/student/page/<%= student._id %>" class="btn btn-warning">Edit</a>
                                    <a href="/delete/student/<%= student._id %>" class="btn btn-danger">Delete</a>
                                </td>
                                
                            </tr>
                     <%   }) %>
                </tbody>
            </table>
        </div>
        <%- include('./base/footer.ejs') %>
